body{
background-color: #002750;
}
.login-page {
padding: 10% 0 0;
margin: auto;
}
.form{
position: relative;
z-index: 1;
box-shadow: 5px 5px 20px 0 #6C6C6C;
border-radius: 8px;
max-width: 500px;
margin: 0 auto 100px;
padding:15px 50px;
text-align: center;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
background: #fff;
}
img{
height: 100px;
}
.form button {
background: #F39800;
border-radius: 3px;
text-transform: uppercase;
outline: 0;
width: 100%;
border: 0;
padding: 15px;
color: #FFF;
font-size: 14px;
-webkit-transition: all 0.3 ease;
transition: all 0.3 ease;
cursor: pointer;
}
.version {
margin: 15px 0 ;
color: #b3b3b3;
font-size: 12px;
}
.box {
position: relative;
top: 0;
opacity: 1;
float: left;
width: 100%;
background: #fff;
border-radius: 10px;
transform: scale(1);
-webkit-transform: scale(1);
-ms-transform: scale(1);
z-index: 5;
}
.box.back {
transform: scale(0.95);
-webkit-transform: scale(0.95);
-ms-transform: scale(0.95);
top: -20px;
opacity: .8;
z-index: -1;
}Ë†
.input label, .input input, .input .spin {
width: 100%;
float: left;
transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
-webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
-ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input {
width: 100%;
float: left;
position: relative;
margin-top: 30px;
height: 70px;
transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
-webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
-ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input:before {
width: 100%;
height: 1px;
position: absolute;
bottom: 0;
left: 0;
content: "";
background: rgba(0, 0, 0, 0.1);
z-index: 3;
}
.input input {
position: relative;
height: 60px;
top: 10px;
border: none;
background: transparent;
font-family: 'Roboto', sans-serif;
color: rgba(0, 0, 0, 0.8);
font-weight: 300;
padding: 10px 0 0 0;
}
.input label {
position: absolute;
top: 10px;
left: 0;
z-index: 2;
font-size: 18px;
color:#002750;
cursor: pointer;
font-weight: 600;
}
.input .spin {
height: 1px;
position: absolute;
bottom: 0;
left: 0;
background: #ff8a37;
z-index: 4;
width: 0;
}
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
margin: 0;
padding: 0;
text-decoration: none;
list-style-type: none;
outline: none;
}
*:after, *::before {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
margin: 0;
padding: 0;
text-decoration: none;
list-style-type: none;
outline: none;
}
.login{
width: 100%;
margin: 25px 0 15px 0;
background-color: #002750;
padding: 12px;
font-size: 18px;
font-weight: 400;
}