/* Navbar - starts */
.navbar{
width: 100%;
height: 60px;
top: 0;
position: fixed;
background: #FFF;
box-shadow: 5px 5px 10px 0 rgba(157,157,157,0.50); 
align-items: center;
z-index: 2;
}
.navbar .wrapper{
margin-left:200px;
width: calc(100% - 200px);
left: 0;
top: 5px;
position: absolute;
}
.navbar .wrapper .title{
display: flex;
align-items: center;
margin-right: 50px;
font-size: 16px;
}
.navbar .wrapper img{
display: flex;
height: 50px;
}
.navbar .wrapper .title a{
color:#005196;
margin:0 10px; 
font-weight: 600;
}
.navbar .wrapper .title span{
color: #7B7B7B;
margin: 5px;
}
.bell{
position: relative;
}
.bell::after{
content: '';
position: absolute;
top: 0;
left: 10px;
width: 10px;
height: 10px;
background-color: #d10000;
border-radius: 50%;
}
/* Navbar - ends */
/* Sidebar - starts */
.sidebar {
background-color: #002D67;
position: fixed;
height: 100%;
width: 180px;
z-index: 1000;
}
.sidebar ul {
padding: 0;
list-style-type: none;
}
.sidebar ul li{
padding: 15px 20px;
display: block;
}
/* Sidebar標題 */
.sidebar .list{
margin-top: 36px;
border-bottom: 0.5px dotted #fff;
}
.sidebar .list span{
color:#F03C17;
margin-left: 10px;
}
/* Sidebar標題子題目 */
.sidebar ul li .title{
position: relative;
text-decoration: none;
display: block;
background-color: transparent;
color: #fff;
padding: 6px 10px;
font-size: 16px;
}
.sidebar ul li .title:hover span{
color:#ff8a37;
}
/* Sidebar - ends */