.overlay {
position: fixed;
background: rgba(0, 0, 0, 0.7);
opacity: 0.8;
transition: opacity 500ms;
top: 0px;
bottom: 0px;
left: 0px;
right: 0px;
z-index: 3;
}
.popup {
position: fixed;
background: #fff;
color:#0061C6;
font-size: 14px;
line-height: 30px;
width: 40vw;
border-radius: 9px;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
margin: auto;
z-index: 4;
}
.popup .title{
font-size: 16px;
}
.popUpper {
position: relative;
top: 0;
left: 0;
right: 0;
background: #0061C6;
color: #fff;
border-radius: 8px 8px 0 0;
height: 50px;
line-height: 20px;
padding: 18px;
text-align: center;
}
.popup .content {
text-align: left;
margin: 20px 30px;
}
.content span{
display: block;  
}
.content input{
width: 100%;
}
.content textarea{
border: 1px #dbdbdb solid;
}
.popup input.close {
position: absolute;
top: 0px;
left: 85%;
font-size: 30px;
font-weight: bold;
text-decoration: none;
background-color: #0061C6;
color: #fff;
border: none;
border-radius: 3px;
margin: 0 5px;
cursor: pointer;
}