.checkbox-square {
position: relative;
width: 88px;
height: 30px;
display: -webkit-box;
display: flex;
-webkit-box-pack: center;
    justify-content: center;
}
.checkbox-square input {
display: none;
}
.checkbox-square input:checked + .track {
background-color: #518335;
}
.checkbox-square input:checked + .track:before {
-webkit-transform: translateX(43px);
        transform: translateX(43px);
}
.checkbox-square input:checked + .track:after {
content: "啟用";
-webkit-transform: translateX(0);
        transform: translateX(0);
}
.checkbox-square .track {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #696969;
-webkit-transition: 0.25s;
transition: 0.25s;
}
.checkbox-square .track:before {
content: "";
position: absolute;
background-color: #fafafa;
-webkit-transition: 0.25s;
transition: 0.25s;
}
.checkbox-square .track:after {
content: "未啟用";
white-space: pre-line;
position: absolute;
-webkit-transform: translateX(43px);
        transform: translateX(43px);
-webkit-transition: 0.25s;
transition: 0.25s;
}
.checkbox-square .thumb:before {
top: 1px;
left: 1px;
width: calc(50% - 1px);
height: calc(100% - 2px);
z-index: 2;
}
.checkbox-square .thumb:after {
color: #ffffff;
font-size: 8px;
font-weight: bold;
text-transform: uppercase;
top: 1px;
left: 1px;
width: calc(50% - 1px);
height: calc(100% - 2px);
text-align: center;
line-height:30px;
z-index: 1;
}
.checkbox-square1 .thumb:after {
line-height:16px;
padding: 1px;
}
/* 當日跨日 */
.checkbox-square input:checked + .track1 {
background-color: #518335;
}
.checkbox-square input:checked + .track1:before {
-webkit-transform: translateX(43px);
        transform: translateX(43px);
}
.checkbox-square input:checked + .track1:after {
content: "跨日";
-webkit-transform: translateX(0);
        transform: translateX(0);
}
.checkbox-square .track1 {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #696969;
-webkit-transition: 0.25s;
transition: 0.25s;
}
.checkbox-square .track1:before {
content: "";
position: absolute;
background-color: #fafafa;
-webkit-transition: 0.25s;
transition: 0.25s;
}
.checkbox-square .track1:after {
content: "當日";
white-space: pre-line;
position: absolute;
-webkit-transform: translateX(43px);
        transform: translateX(43px);
-webkit-transition: 0.25s;
transition: 0.25s;
}
/* 有/無 */
.checkbox-square input:checked + .track2 {
background-color: #518335;
}
.checkbox-square input:checked + .track2:before {
-webkit-transform: translateX(43px);
        transform: translateX(43px);
}
.checkbox-square input:checked + .track2:after {
content: "有";
-webkit-transform: translateX(0);
        transform: translateX(0);
}
.checkbox-square .track2 {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #696969;
-webkit-transition: 0.25s;
transition: 0.25s;
}
.checkbox-square .track2:before {
content: "";
position: absolute;
background-color: #fafafa;
-webkit-transition: 0.25s;
transition: 0.25s;
}
.checkbox-square .track2:after {
content: "無";
white-space: pre-line;
position: absolute;
-webkit-transform: translateX(43px);
        transform: translateX(43px);
-webkit-transition: 0.25s;
transition: 0.25s;
}
/* 班表啟用/未啟用 */
.checkbox-square input:checked + .track3 {
background-color: #518335;
}
.checkbox-square input:checked + .track3:before {
-webkit-transform: translateX(43px);
        transform: translateX(43px);
}
.checkbox-square input:checked + .track3:after {
content: "班表\A啟用";
-webkit-transform: translateX(0);
        transform: translateX(0);
}
.checkbox-square .track3 {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #696969;
-webkit-transition: 0.25s;
transition: 0.25s;
}
.checkbox-square .track3:before {
content: "";
position: absolute;
background-color: #fafafa;
-webkit-transition: 0.25s;
transition: 0.25s;
}
.checkbox-square .track3:after {
content: "班表\A未啟用";
white-space: pre-line;
position: absolute;
-webkit-transform: translateX(43px);
        transform: translateX(43px);
-webkit-transition: 0.25s;
transition: 0.25s;
}
/* 班表鎖定/未鎖定 */
.checkbox-square input:checked + .track4{
background-color: #518335;
}
.checkbox-square input:checked + .track4:before{
-webkit-transform: translateX(43px);
        transform: translateX(43px);
}
.checkbox-square input:checked + .track4:after{
content: "班表\A鎖定";
-webkit-transform: translateX(0);
        transform: translateX(0);
}
.checkbox-square .track4{
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #696969;
-webkit-transition: 0.25s;
transition: 0.25s;
}
.checkbox-square .track4:before{
content: "";
position: absolute;
background-color: #fafafa;
-webkit-transition: 0.25s;
transition: 0.25s;
}
.checkbox-square .track4:after{
content: "班表\A未鎖定";
white-space: pre-line;
position: absolute;
-webkit-transform: translateX(43px);
        transform: translateX(43px);
-webkit-transition: 0.25s;
transition: 0.25s;
}
/* 固定/彈性 */
.checkbox-square input:checked + .track5{
background-color: #518335;
}
.checkbox-square input:checked + .track5:before{
-webkit-transform: translateX(43px);
        transform: translateX(43px);
}
.checkbox-square input:checked + .track5:after{
content: "固定";
-webkit-transform: translateX(0);
        transform: translateX(0);
}
.checkbox-square .track5{
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #696969;
-webkit-transition: 0.25s;
transition: 0.25s;
}
.checkbox-square .track5:before{
content: "";
position: absolute;
background-color: #fafafa;
-webkit-transition: 0.25s;
transition: 0.25s;
}
.checkbox-square .track5:after{
content: "彈性";
white-space: pre-line;
position: absolute;
-webkit-transform: translateX(43px);
        transform: translateX(43px);
-webkit-transition: 0.25s;
transition: 0.25s;
}
        
        

