.bid tr{
padding: 1em;
}
.bid tr th:first-child,  .bid tr td:first-child  {
text-align: left;
width: 20vw;
color: #0051A5;
padding-left: 2em;
}
.bid tr th:nth-child(2),  .bid tr td:nth-child(2)  {
padding-right: 3em;
}
.columnsTop-1, .columns-1{
padding: 1em .3em;
vertical-align: middle;
border-bottom: 1px solid #dbdbdb;
}
.boxInTitle{
display: block;
margin: 30px 0;
}
i{
margin: 0 3px;
}
.form-check-default{
opacity: 0.5;
}
.form-checkbox-label input{
position: relative;
}
.form-check-default::before {
content: "î¤€";
position: absolute;
font-size: 20px;
width: 13px;
height: 13px;
overflow: hidden;
box-sizing: border-box;
color: #dbdbdb;
background-color: #dbdbdb;
border:0.5px solid #acacac;
border-radius: 3px;
}
.form-checkbox-label span{
margin-right: 8px;
}
.innerbox .wrapper{
border-bottom: 1px solid #dbdbdb;
padding: 15px 10px 50px 30px;
}
.innertitle{
color: #0051A5; 
font-weight: 600;  
margin-left: 3px;
}
select{
width: 100%;
padding: 0 8px;
}
input{
color: #696969;
}
.fa-calendar{
position: relative;
margin-left: -30px;
}
.quantity{
width: 70px;
margin: 10px 5px 0 5px;
}
.wrapperquantity{
display: none;
}
