.out{
overflow:auto;
width:100%; 
height: 60vh;
margin-top: 20px ;
}
.tablewrapper{
overflow:auto;
width:100%;
height: 60px;
margin-top: 20px ;
}
.row .timeset{
display: none;
}
.color span{
margin: 3px;
display: inline-block;
}
th span{
margin: 3px;
display: block; 
}
.week, .weekfree{
margin-top: 2px;
font-weight: 600;
color: #696969;
padding: 2px;
background-color: #fff;
}
.weekfree{
color: #fff;
padding: 3px;
background-color: #840000;   
}
table{
table-layout: fixed;
width: 100%; /* 固定寬度 */
margin: 0;
border: 1px solid #696969;
}
.body-half-screen{
border-radius: 3px;
}
td:nth-child(7n+2){
border-right: 2px solid #696969;
}
th, td{
position: relative;
table-layout: auto;
text-align: center;
vertical-align: middle;
border:1px solid #eee;
border:1px solid;
border-color: #eee;
width:60px;
overflow:hidden;
padding: 1em 0.2em;
font-size: 12px;
color: #3c3c3c;
-moz-box-sizing: border-box;
empty-cells:show;
}
.table-scroll th{
background-color:#696969;
border-left: 2px solid #fff;
border-right: 2px solid #fff;
color: #fff;
font-size: 12px;
text-align: center;
} 
.table-scroll thead tr th {
position:sticky;
top:0; /* 列首永遠固定於上 */
border-radius: 3px;
padding:0.5em;
z-index: 1;
}
.table-scroll th:first-child, .table-scroll th:nth-child(2){
z-index:2;
background-color:#696969;
border-left: 1px solid #eee;
border-right: 2px solid #fff;
}
.table-scroll thead:nth-child(2){
top: 50px;
}
td:first-child, th:first-child, td:nth-child(2), th:nth-child(2){
position:sticky;
z-index:1;
width: 100px;
background-color:#fff;
box-shadow: 5px 0px 6px 0px rgba(0,0,0,.1); 
}
td:first-child, th:first-child{
left:0;   /* 首行永遠固定於左 */ 
min-width: 50px;
width: 50px;
text-align:center;
}
td:nth-child(2), th:nth-child(2){
left:50px; 
min-width:100px; 
text-align:left;  
}
::-webkit-scrollbar {
-webkit-appearance: none;
width: 7px;
height: 7px;
}
::-webkit-scrollbar-thumb {
border-radius: 4px;
background-color: #3C3C3C;
-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
::-webkit-scrollbar-track,  ::-webkit-scrollbar-corner{
background-color: #eee;
}
.worktime1:before{
content:"\A";
width:8px;
height:8px;
border-radius:50%;
display:inline-block;
background-color: #0081B4;
margin:0 10px;
}
.worktime2:before{
content:"\A";
width:8px;
height:8px;
border-radius:50%;
display:inline-block;
background-color: #E2A600;
margin:0 10px;
}
.worktime3:before{
content:"\A";
width:8px;
height:8px;
border-radius:50%;
display:inline-block;
background-color: #518335;
margin:0 10px;
}
.worktime4:before{
content:"\A";
width:8px;
height:8px;
border-radius:50%;
display:inline-block;
background-color: #002D67;
margin:0 10px;
}
.notice{
color: #840000;
}
.notice:before{
content:"\A";
width:5px;
height:5px;
border-radius:50%;
display:inline-block;
background-color: #840000;
margin: 0 2px;
}
#ac-wrapper {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.7);
z-index: 100;
}
#popup {
position: fixed;
background: #fff;
color:#0061C6;
font-size: 14px;
line-height: 30px;
width: 40vw;
border-radius: 8px;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
margin: auto;
z-index: 4;
}
.popUpper {
position: relative;
top: 0;
left: 0;
right: 0;
background: #0061C6;
color: #fff;
border-radius: 8px 8px 0 0;
height: 50px;
line-height: 20px;
padding: 18px;
text-align: center;
}
#popup input.close {
position: absolute;
top: 0px;
left: 85%;
font-size: 30px;
font-weight: bold;
text-decoration: none;
background-color: #0061C6;
color: #fff;
border: none;
border-radius: 3px;
margin: 0 5px;
cursor: pointer;
}
/* circle */
.circle{
width: 12px;
height: 12px;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;   
}
.colorcircle{
background-color: #fff;
padding-top: 3px;   
}
.colorcircle .circle:nth-child(2){
word-wrap: break-word;
word-break: break-all
}
.Nor{
background-color: #0081B4;
}
.Morning{
background-color:#E2A600;
}
.Evening{
background-color: #518335;
}
.Night{
background-color: #002D67;
}
/* 符合條件 */
.None{
background-color: #fff;
border:1px solid #696969;
}
/* hover red holiday */
.tooltip #week {
display: block;
}
.tooltip:hover #week {
display: none;
}
.tooltip #weekholiday {
display: none;
}
.tooltip:hover #weekholiday {
display: block;
}
/* datepicker */
.fa-calendar{
position: relative;
margin-left: -30px;
color: #696969;
}